CORS_ORIGINS=
DISABLE_RATE_LIMIT=
GEMINI_API_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_URL_ENDPOINT=
JWT_SECRET=
MONGODB_URI=
NODEMAILER_PASS=
NODEMAILER_USER=
PAYU_KEY=
PAYU_MODE=
PAYU_SALT=
PCLOUD_ACCESS_TOKEN=